
/*** -- Custom Template -- ***/

body { padding-top: 70px; }

.navbar-inverse span.navbar-brand { background-color: transparent; color: #ffffff; }

.section_posts .post-thumbnail { display: block; height: 200px; width: 100%; }

.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}

.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #080808;
    border-top: 1px solid #dddddd;
}
.footer p {
    margin: 0;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: inherit;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer h3 a, .footer h3 a:hover {
    color: inherit;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
    text-decoration: none;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}

.social {
    position: relative;
    height: 6.2em;
    width: 13.5em;
    margin: 25px 2em 15px !important;
}

.social li {
    display: block;
    height: 3em;
    line-height: 3em;
    /*margin: -2.2em;*/
    position: absolute;
    -webkit-transition: -webkit-transform .7s;
    -moz-transition: -moz-transform .7s;
    -ms-transition: -ms-transform .7s;
    -o-transition: -o-transform .7s;
    transition: transform .7s;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    width: 3em;

}

.social a {
    color: #fffdf0;
    display: block;
    height: 3em;
    line-height: 4em;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 3em;

}

.social li:hover {
    -webkit-transform: scale(1.3,1.3) rotate(45deg);
    -moz-transform: scale(1.3,1.3) rotate(45deg);
    -ms-transform: scale(1.3,1.3) rotate(45deg);
    -o-transform: scale(1.3,1.3) rotate(45deg);
    transform: scale(1.3,1.3) rotate(45deg);
}


.facebook {
    background: #155b9d;
    left: 0;
    top: 0%;
}

.twitter {
    background: #1a9ec4;
    bottom: 0;
    left: 25%;
}

.pinterest {
    background: #C21E2A;
    left: 50%;
    top: 0%;
}

.youtube {
    background: #E62117;
    bottom: 0;
    left: 75%;
}

.google-plus {
    background: #FBBC05;
    top: 0;
    left: 100%;
}

.footer-bottom {
    background: #222222;
    border-top: 1px solid #080808;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}